---
import type { AboutContent } from '@/types';
import { getAbout } from '@/utils/content-loader';

const { BioComponent, ...content }: AboutContent = await getAbout();
---

<div class="flex w-full flex-col-reverse items-center lm:flex-row">
  <div class="flex w-full flex-col justify-center space-y-12 pt-10 lm:w-2/3 lm:pt-0">
    <div class="grid grid-cols-2 items-center gap-2 sm:grid-cols-4">
      {content.skills.map((skill) => <div class="rounded-full bg-accent py-1.5 text-center text-sm">{skill}</div>)}
    </div>

    <div class="grid grid-cols-6 gap-2">
      {
        content.hobbies.map((hobby) => (
          <div class="flex justify-center">
            <img src={hobby.img} alt={hobby.alt} class="size-10 items-center justify-center" />
          </div>
        ))
      }
    </div>

    <div class="text-lg text-secondary"><BioComponent /></div>
  </div>
  <div class="flex w-full items-center justify-center lm:w-1/3 lm:justify-end">
    <div class="flex h-full items-center overflow-hidden rounded-b-full">
      <img class="image-shadow h-[200px] w-[150px] lm:h-[300px] lm:w-[218px]" src={content.image} alt="about" />
    </div>
  </div>
</div>

<style>
  .image-shadow {
    filter: drop-shadow(-5px 2px 1px #0296be30) contrast(110%);
  }
</style>
