---
import { getCollection } from 'astro:content';

interface ExpertiseContent {
  src: string;
  alt: string;
  text: string;
}

const content: ExpertiseContent[] = (await getCollection('expertise'))[0].data;
---
<div class="grid grid-cols-2 md:grid-cols-5 gap-10">
  { content.map((expertise: ExpertiseContent) => (
    <div class="flex flex-col items-center">
      <img src={expertise.src} class="size-14" alt={expertise.alt} />
      <span class="text-sm text-secondary py-2">{expertise.text}</span>
    </div>
  ))}
</div>