---
import type { ExperienceContent } from '@/types';
import { getExperience } from '@/utils/content-loader';

const content: ExperienceContent[] = await getExperience();
---

<div class="grid grid-cols-1 gap-5 md:grid-cols-2">
  {
    content.map((experience: ExperienceContent) => (
      <div class="group/card overflow-hidden rounded-2xl duration-500 hover:scale-105 hover:cursor-pointer hover:bg-accent/5">
        <div class="h-[1px] origin-center scale-x-0 transform-gpu bg-accent transition-transform duration-500 group-hover/card:scale-x-100" />
        <div class="p-5">
          <div class="mb-2">
            <span class="pl-1 pt-1 text-sm text-secondary">{experience.date}</span>
          </div>
          <div class="mb-5 flex flex-row">
            <div class="flex hidden items-center rounded-xl bg-white/5 p-4 lg:block">
              <img src="/icons/company.svg" class="size-6" alt="company" />
            </div>
            <div class="w-full lg:pl-5">
              <span class="pt-1 text-lg font-semibold">{experience.titleShort || experience.titleLong}</span>
              <div class="flex flex-row">
                <span class="pt-1 text-accent">{experience.company}</span>
              </div>
            </div>
          </div>
          <div class="mb-5">
            <p class="text-secondary">{experience.descriptionShort}</p>
          </div>
          <div class="flex flex-wrap gap-2">
            {experience.stackShort.map((item) => (
              <span class="rounded-full bg-white/5 px-4 py-1.5 text-sm text-secondary">{item}</span>
            ))}
          </div>
        </div>
      </div>
    ))
  }
</div>
