---
import type { ExpertiseContent } from '@/types';
import { getExpertise } from '@/utils/content-loader';

const content: ExpertiseContent[] = await getExpertise();
---

<div class="custom:grid-cols-6 grid grid-cols-4 gap-10">
  {
    content.map((expertise: ExpertiseContent) => (
      <div class="flex flex-col items-center">
        <img src={expertise.src} class="custom:size-14 size-12" alt={expertise.alt} />
        <span class="custom:text-sm py-2 text-xs text-secondary">{expertise.text}</span>
      </div>
    ))
  }
</div>
