---
import type { ExpertiseContent } from '@/types';
import { getExpertise } from '@/utils/content-loader';

const content: ExpertiseContent[] = await getExpertise();
---

<div class="grid grid-cols-4 gap-10 lg:grid-cols-6">
  {
    content.map((expertise: ExpertiseContent) => (
      <div class="flex flex-col items-center">
        <img src={expertise.src} class="size-12 md:size-14" alt={expertise.alt} />
        <span class="py-2 text-xs text-secondary md:text-sm">{expertise.text}</span>
      </div>
    ))
  }
</div>
