---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/common/SectionContainer.astro'
import { getPageMainSections } from '../utils/page-main';
import { getPagesMetaData } from '../utils/content-loader';

const pagesMetaData = await getPagesMetaData();
const sections = await getPageMainSections();
---
<Layout
	title={pagesMetaData.main.title}
	description={pagesMetaData.main.description}
>
	<main>
		{
			sections.map(({section, Component}) => (
				Component && (
					<SectionContainer
						id={section.id}
						title={section.display.showTitle ? section.title : undefined}
						class={section.class}
					>
						<Component />
					</SectionContainer>
				)
		))}
	</main>
</Layout>
