---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/common/SectionContainer.astro'
import Hero from '../components/main/Hero.astro'
import Footer from '../components/footer/index.astro'
---

<Layout
	title="Personal Website David Balivo - Expert Technology Solutions in Cloud, AI, and Software Engineering"
	description="David Balvio, expert technology solutions in Cloud, AI, and software engineering. Over 15 years of experience in delivering scalable, innovative digital solutions. Based in Andorra, serving global clients with proven expertise."
>
	<main>
    <SectionContainer class="p-24">
      <Hero />
    </SectionContainer>
		<SectionContainer title='Contact' class="p-24">
			<Footer />
    </SectionContainer>
	</main>
</Layout>
