---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/common/SectionContainer.astro'
import { getPageMainSections } from '../utils/page-main';

const sections = await getPageMainSections();
---
<!-- TODO : get layout content from collection -->
<Layout
	title="Personal Website David Balivo - Expert Technology Solutions in Cloud, AI, and Software Engineering"
	description="David Balvio, expert technology solutions in Cloud, AI, and software engineering. Over 15 years of experience in delivering scalable, innovative digital solutions. Based in Andorra, serving global clients with proven expertise."
>
	<main>
		{
			sections.map(({section, Component}) => (
				Component && (
					<SectionContainer
						id={section.id}
						title={section.display.showTitle ? section.title : undefined}
						class={section.class}
					>
						<Component />
					</SectionContainer>
				)
		))}
	</main>
</Layout>
