---
import SectionContainer from '@/components/common/SectionContainer.astro';
import Layout from '@/layouts/Layout.astro';
import type { PageSectionContent, PagesMetadataContent } from '@/types';
import { getPagesMetaData } from '@/utils/content-loader';
import { getPageMainSections } from '@/utils/page-main';

const pagesMetaData: PagesMetadataContent = await getPagesMetaData();
const sections: PageSectionContent[] = await getPageMainSections();
---

<Layout title={pagesMetaData.main.title} description={pagesMetaData.main.description}>
  <main>
    {
      sections.map(
        ({ section, Component }) =>
          Component && (
            <SectionContainer
              id={section.id}
              title={section.display.showTitle ? section.title : undefined}
              class={section.class}
            >
              <Component />
            </SectionContainer>
          ),
      )
    }
  </main>
</Layout>
