---
import type { NavigationContent } from '@/types';
import { getNavigation } from '@/utils/content-loader';

const navigation: NavigationContent[] = getNavigation();
---

<header class="fixed top-0 z-10 mx-auto mt-2 flex w-full items-center justify-center">
  <nav class="flex rounded-full px-3 text-xs text-primary sm:text-sm">
    {
      navigation.map((item) => (
        <a class="nav-link" aria-label={item.label} href={item.url}>
          {item.title}
        </a>
      ))
    }
  </nav>
</header>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  nav {
    @apply bg-gray-800/90;
  }

  @keyframes nav-shadown {
    0% {
      @apply bg-gray-800/0;
    }
    to {
      @apply shadow-lg ring-1 ring-white/10 backdrop-blur;
    }
  }

  .nav-link {
    @apply relative block p-2 transition;
  }

  @media (hover: hover) {
    .nav-link:hover {
      @apply text-accent;
    }

    .nav-link::after {
      content: '';
      @apply absolute bottom-2 left-1/2 h-px w-0 bg-accent transition-all duration-500 ease-in-out;
      transform: translateX(-50%);
    }

    .nav-link:hover::after {
      @apply w-1/2;
    }
  }
</style>
