---
interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;
---

<button
  onclick="window.history.back()"
  class={`text-3xl text-accent duration-500 hover:scale-110 hover:text-accent-light ${className}`}
>
  <slot />
</button>
