---
import CircleCheck from '@/components/icons/regular/CircleCheck.astro';
---

<div class="flex space-x-1">
  <div class="min-w-4">
    <CircleCheck class="mt-1 size-4 text-accent" />
  </div>
  <slot />
</div>
