---
interface Props {
  id?: string;
  class?: string;
  title?: string;
}

const { class: className = '', id, title } = Astro.props
---

<section
  id={id}
  data-section={id}
  class={`scroll-m-20 w-full mx-auto container max-w-7xl p-24 ${className}`}
>
  {title &&
    <h2 class="text-xl font-semibold mb-10">{title}</h2>
  }
  <slot />
</section>