---
interface Props {
  id?: string;
  class?: string;
  title?: string;
}

const { class: className = '', id = null, title } = Astro.props;
---

<section
  id={id}
  data-section={id}
  class={`scroll-m-20 w-full mx-auto container max-w-7xl lm:px-24 px-12 py-12 ${className}`}
>
  {title && <h2 class="mb-10 text-xl font-semibold">{title}</h2>}
  <slot />
</section>
